#page{
    width:80%;
    margin:0 auto;
}

.bingohead{
    border:10px solid #c2324c;
}

h1, h3, h3 a{
    font-family:arial;
    text-align:center;
    padding:3px;
    color:#211111;
    background-color:#EEEEEE;
    border:2px solid #DDDDCC;
}

#free{
    background-color:#fff;
    color:#eee;
    cursor:default;
}

body{
    background-color:#95A9FD
}
